.g5ere__property-skin-05{
	.g5ere__loop-property-address{
		margin-bottom: 0;
	}

	.g5ere__lpc-top {
		padding: 17px 20px 15px;
		border-bottom: 1px solid var(--g5-color-border);
	}
	.g5ere__lpc-center {
		padding: 16px 20px 12px;
	}

	.g5ere__lpc-bottom {
		padding: 12px 20px;
		border-top: 1px solid var(--g5-color-border);
	}
}