.g5element__agent-search {
	.g5ere__search-field input:focus,
	.dropdown-toggle:hover {
		border-color: #f8f8f8;
	}
}

.custom-agent-search {
	&.g5element__agent-search, .g5element__agent-search {
		background: #fff;
		padding: 16px 16px 22px 16px;
		border-radius: 5px;
		box-shadow: 0 5px 30px 0 rgba(51, 51, 51, 0.2);
	}
}

@media (max-width: 1024px) {
	.elementor-widget.custom-agent-search .g5element__agent-search {
		top: 0;
	}
}

@media (min-width: 992px) {
	.custom-agent-search {
		&.g5element__agent-search, .g5element__agent-search {
			position: relative;
			top: 50px;
			z-index: 10;
		}
	}
}

@media (max-width: 991px) {
	.custom-agent-search {
		&.g5element__agent-search .form-group, .g5element__agent-search .form-group {
			@include align-items-start();
			margin-bottom: 30px;
		}
	}
}

.custom-agent-search-02 {
	.g5ere__s-label {
		display: none;
	}

	.g5ere__search-field, .g5ere__sf-btn-submit, .bootstrap-select {
		height: 52px;
	}

	.g5ere__search-field .bootstrap-select > .dropdown-toggle,
	.g5ere__search-field input {
		padding-top: 0;
		padding-right: 20px;
		padding-left: 20px;
		background-color: #fff;
		@include border-radius(5px !important);
		height: 52px;
		border: none;

		&:focus {
			border: none;
		}
	}

	.g5ere__sf-keyword input {
		padding-left: 50px;
	}

	&.g5ere__search-form .g5ere__sf-icon-submit,
	.g5ere__search-form .g5ere__sf-icon-submit {
		top: 0;
		right: auto;
		left: 13px;
	}

	.g5ere__search-field .bootstrap-select > .dropdown-toggle:not(:disabled):not(.disabled):active,
	.g5ere__search-field .bootstrap-select > .dropdown-toggle.bs-placeholder:focus {
		background-color: #fff;
	}
}

@media only screen and (min-width: 992px) {
	.custom-agent-search-02 .g5ere__sf-top .g5ere__sf-agency {
		padding-right: 0;
	}
}

