.g5ere__agent-skin-02 {
	.g5ere__agent-item-inner {
		padding: 30px 20px 15px 20px;
	}
	.g5core__post-featured {
		margin-bottom: 20px;
		width: 140px;
		margin-left: auto;
		margin-right: auto;
	}
	.g5ere__loop-agent-social {
		border-top: 1px solid var(--g5-color-border);
		padding-top: 15px;
		margin-top: 20px;
	}
}