.g5ere__agent-skin-05 {
	.g5ere__agent-item-inner {
		padding: 30px;
	}

	.g5core__post-featured {
		width: 140px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.g5ere__rating-stars {
		margin-top: 5px;
	}

	.g5ere__lac-top {
		border-bottom: 1px solid var(--g5-color-border);
		padding-bottom: 15px;
		margin-bottom: 25px;
	}

	.g5ere__agent-content > div {
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

}

@media (max-width: 575px) {
	.g5ere__agent-skin-05 {
		.g5ere__agent-item-inner {
			padding: 10px;
		}
	}
}