.g5ere__agent-skin-01 {
	.g5ere__agent-featured {
		margin-bottom: 17px;
	}

	.g5ere__post-featured-bg-gradient .g5ere__loop-content .g5ere__lam-content {
		color: inherit;
	}

	.g5ere__lam-has-title {
		display: inline-block;
	}

	.g5ere__loop-agent-agency {
		display: block;
	}

}