/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
html,
body {
	direction: rtl;
}

body {
	text-align: right;
}

dd {
	margin-right: 0;
}

blockquote {
	border-left: none;
	border-right: solid 5px #ddd;
	padding-left: 0;
	padding-right: 1rem;
}
caption {
	text-align: right;
}

th {
	text-align: inherit;
}

.btn-icon-left i {
	margin-right: 0;
	margin-left: 10px;
}

.btn-icon-right i {
	margin-left: 0;
	margin-right: 10px;
}

/*--------------------------------------------------------------
## Elements
--------------------------------------------------------------*/
.toggle-icon > span:after,
.toggle-icon > span:before {
	right: 0;
	left: -6px;
}
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header .search-form-wrapper {
	margin-right: 1rem;
	margin-left: 0;
}

.site-header .search-form-wrapper .search-form {
	left: 0;
	right: auto;
}
.site-header .menu-toggle {
	right: 0;
	left: auto;
}
.main-menu .menu ul {
	right: 100%;
	left: auto;
}
.main-menu .menu ul .menu-item-has-children > a .caret {
	float: left;
}
.main-menu .menu ul .menu-item-has-children > a .caret:before {
	content: '\f104';
}
.main-menu .menu > li {
	margin-left: 1.5rem;
	margin-right: 0;
}
.main-menu .menu > li > ul {
	right: 0;
	left: auto;
}

.site-branding {
	padding-left: 2rem;
	padding-right: 0;
}
.site-branding .site-description {
	display: none;
	margin: 0;
}

@media only screen and (max-width: 991px) {
	.site-header .search-form-wrapper {
		left: 0;
		right: auto;
	}

	.main-menu .menu li {
		margin-left: 0;
	}
	.main-menu .menu .menu-item-has-children > a .caret {
		left: 0;
		right: auto;
		margin-left: 0;
	}
	.main-menu .menu .menu-item-has-children > a .caret:before {
		content: "\f104";
	}
	.main-menu .menu .sub-menu {
		padding-left: 0;
		padding-right: 1.5rem;
	}
}

/*--------------------------------------------------------------
## WP core
--------------------------------------------------------------*/
.alignnone {
	margin-left: 1.5rem;
	margin-right: 0;
}
.alignright {
	float: left;
	margin-left: 0;
	margin-right: 1.25rem;
}

.alignleft {
	float: right;
	margin-left: 1.25rem;
	margin-right: 0;
}

.wp-caption.alignnone {
	margin-left: 1.25rem;
	margin-right: 0;
}

.wp-caption.alignleft {
	margin-left: 1.25rem;
	margin-right: 0;
}

.wp-caption.alignright {
	margin-left: 0;
	margin-right: 1.25rem;
}

/* Galleries */
.gallery-item {
	text-align: right;
	padding-left: 1em;
	padding-right: 0;
}

.gallery-caption {
	text-align: right;
	padding-left: 0.75rem;
	padding-right: 0;
}

/*--------------------------------------------------------------
## WP block
--------------------------------------------------------------*/
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-right: solid 5px #ddd;
	border-left: none;
	padding-right: 1rem;
	padding-left: 0;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote {
	border-right-width: 0;
}
/*--------------------------------------------------------------
## Blog
--------------------------------------------------------------*/
.article-post .entry-footer {
	text-align: right;
}
.article-post .entry-footer .link-more > a:before {
	margin-left: 0.25rem;
	margin-right: 0;
}
.article-post .entry-footer .meta-comment {
	margin-right: auto;
	margin-left: 0;
}
.article-post .post-tags a {
	margin-left: 0.375rem;
	margin-right: 0;
}
.article-post .post-tags i {
	margin-left: 0.375rem;
	margin-right: 0;
}
.article-post .author-info-avatar {
	margin-left: 1rem;
	margin-right: 0;
}

.comment-form .logged-in-as,
.comment-form .comment-form-comment,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url,
.comment-form .comment-notes,
.comment-form .form-submit {
	float: right;
}
.comment-list ul.children {
	padding-right: 0;
	margin-right: 75px;
	margin-left: 0;
}
.comment-list .comment-meta .edit-link {
	margin-right: 1rem;
	margin-left: 0;
}
.comment-list li:not(.pingback) .comment-body {
	padding-right: 75px;
	padding-left: 0;
}
.comment-list .comment-author img {
	right: 0;
	left: auto;
}
@media only screen and (max-width: 575px) {
	.comment-list ul.children {
		margin-right: 20px;
		margin-left: 0;
	}
}
.post-navigation .nav-previous {
	margin-left: auto;
	margin-right: 0;
}
.post-navigation .nav-next {
	margin-right: auto;
	margin-left: 0;
	text-align: left;
}
.post-navigation .nav-previous i,
.post-navigation .nav-next i {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.page-links > .page-links-text,
.page-links > a {
	margin-left: 0.25rem;
	margin-right: 0;
}
/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.widget .widget-title:before {
	right: 0;
	left: auto;
}

.widget_rss ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_meta ul {
	padding-right: 0;
}
/**
* Archive, categories, nav_menu
* ----------------------------------------------------------------------------
*/
.widget_archive li > a span.count,
.widget_categories li > a span.count,
.widget_nav_menu li > a span.count,
.widget_pages li > a span.count,
.widget_product_categories li > a span.count {
	left: 0;
	right: auto;
}
.widget_archive li li > a,
.widget_categories li li > a,
.widget_nav_menu li li > a,
.widget_pages li li > a,
.widget_product_categories li li > a {
	padding-right: 1.25rem;
	padding-left: 0;
}
.widget_archive li li li > a,
.widget_categories li li li > a,
.widget_nav_menu li li li > a,
.widget_pages li li li > a,
.widget_product_categories li li li > a {
	padding-right: 2.5rem;
	padding-left: 0;
}
.widget_archive li li li li > a,
.widget_categories li li li li > a,
.widget_nav_menu li li li li > a,
.widget_pages li li li li > a,
.widget_product_categories li li li li > a {
	padding-right: 3.75rem;
	padding-left: 0;
}
.widget_archive li li li li li > a,
.widget_categories li li li li li > a,
.widget_nav_menu li li li li li > a,
.widget_pages li li li li li > a,
.widget_product_categories li li li li li > a {
	padding-right: 5rem;
	padding-left: 0;
}
.widget_tag_cloud a {
	margin-left: 0.5rem;
	margin-right: 0;
}
.widget_tag_cloud a:hover {
	color: #fff;
}
.widget_calendar tfoot #next {
	text-align: left;
}

/*--------------------------------------------------------------
## Helper
--------------------------------------------------------------*/
.fl {
	float: right !important;
}

.fr {
	float: left !important;
}