.g5ere__property-featured{
	.g5ere__loop-property-status{
		top: 10px;
		left: 10px;
	}
	.g5ere__loop-property-label{
		top: 10px;
		right: 10px;
	}
}
.g5ere__property-featured{
	.g5ere__term-label,
	.g5ere__status{
		background-color: var(--g5-color-accent);
	}
}
