.g5ere__loop-property-price{
	font-size: 17px;
	font-weight: bold;
	color: var(--g5-color-heading);
	display: block;
}
.g5ere__lpp-postfix{
	font-weight: 500;
	color: var(--g5-color-text-main);
	font-size: var(--g5-body-font-size);
}