.g5ere__sph-layout-4 {
	padding-bottom: 70px;

	.g5ere__slick-arrows-absolute .slick-dots {
		bottom: -20px;
	}
}

@media (min-width: 992px) {
	.g5ere__sph-layout-2 > .container {
		padding-left: 10px;
		padding-right: 10px;
	}
}