.g5blog__single-layout-4 {
  .g5blog__single-title {
    margin-bottom: 20px;
  }

  .g5blog__single-meta-top {
    margin-bottom: 45px;
  }

  .g5blog__single-featured {
    margin-bottom: 50px;
  }

  .entry-meta-cat {
    text-align: center;
  }
}