.content-404-wrapper {
	text-align: center;
	h2 {
		font-size: 12rem;
		color: var(--g5-color-accent);
	}

	h4 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 30px;
	}

	p {
		font-size: 15px;
		margin-bottom: 35px;
	}
}
